@model RegistrationViewModel
@{
    // move this code into the C# class so it is easier to edit
    ViewData["Purpose"] = "Create Account";
    ViewData["Submit"] = "Create";
}

<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">
    <h2 class="form-signin-heading">@ViewData["Purpose"]</h2>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" placeholder="Choose Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div class="form-horizontal row">
            <div class="form-group col-sm-6">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">@ViewData["Submit"]</button>
</form>
<a asp-area="" asp-controller="User" asp-action="Login" class="nav-link">Already have an account?</a>
