@model AddCandidateViewModel
@{
    // move this code into the C# class so it is easier to edit
    ViewData["Purpose"] = "Add Candidate";
    ViewData["Submit"] = "Add";
}

<form asp-action="AddCandidate" method="post">
    <h2 class="form-signin-heading">@ViewData["Purpose"]</h2>
    <!-- Bloodhound would be a better solution here -->
    <div class="form-group">
        <label asp-for="OfficeName"></label>
        <select asp-for="OfficeName" class="form-control">
            <option disabled selected>Select a office</option>
            @foreach (string item in Model.AllOffices)
            {
                <option>@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Party"></label>
        <select asp-for="Party" class="form-control">
            <option disabled selected>Select a party</option>
            <option>Democrat</option>
            <option>Republican</option>
            <option>Independent</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Party" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DOB"></label>
        <input asp-for="DOB" class="form-control" placeholder="MM/DD/YYYY" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@ViewData["Submit"]</button>
</form>