<h1>Welcome to your dashboard</h1>
<!-- replace with better information later-->
<p>
    Hello Admin @(ViewData["UserName"]), welcome to our voting web application.
    The dashboard will show you important information in the future.
</p>
<a asp-area="" asp-controller="Admin" asp-action="UserManagement" >Manage Users</a><br />

<a asp-area="" asp-controller="Admin" asp-action="UserSearch" >Search Users</a><br />
<a asp-area="" asp-controller="Admin" asp-action="VerifyVoter" >Verify Voters</a><br />

<a asp-area="" asp-controller="Admin" asp-action="AddOffice" >Add Office</a><br />
<a asp-area="" asp-controller="Admin" asp-action="AddBallot" >Add Ballot</a><br />
<a asp-area="" asp-controller="Admin" asp-action="AddCandidate" >Add Candidate</a><br />

<a asp-area="" asp-controller="Admin" asp-action="ZipCodeMap" >View Zip Code Map</a><br />
