<h1>Welcome to your dashboard</h1>
<!-- replace with better information later-->
<p>
    Hello Admin @(ViewData["UserName"]), welcome to our voting web application.
    The dashboard will show you important information in the future.
</p>
<a asp-area="" asp-controller="Admin" asp-action="UserManagement" class="nav-link">Manage Users</a>
