<h1>Welcome to your dashboard</h1>
<!-- replace with better information later-->
<p id="DashboardMsg">
    Hello Admin @(ViewData["UserName"]), welcome to our voting web application.
    The dashboard will show you important information in the future.
</p>
<a asp-area="" asp-controller="Admin" asp-action="UserManagement" class="nav-link">Manage Users</a>

<a asp-area="" asp-controller="Admin" asp-action="UserSearch" class="nav-link">Search Users</a>
<a asp-area="" asp-controller="Admin" asp-action="VerifyVoter" class="nav-link">Verify Voters</a>

<a asp-area="" asp-controller="Admin" asp-action="AddOffice" class="nav-link">Add Office</a>
<a asp-area="" asp-controller="Admin" asp-action="AddBallot" class="nav-link">Add Ballot</a>
<a asp-area="" asp-controller="Admin" asp-action="AddCandidate" class="nav-link">Add Candidate</a>

<a asp-area="" asp-controller="Admin" asp-action="ZipCodeMap" class="nav-link">View Zip Code Map</a>
