@using VotingApplication.Controllers
@model SecurityQuestionViewModel

<form asp-action="@nameof(UserController.SecurityQuestionsAsync)" method="post" autocomplete="off">
    <!-- Quesions From: http://stumbleforward.com/2012/08/20/the-10-most-common-password-security-questions/ -->
    <h2 class="form-signin-heading">Add Security Questions</h2>
    <div class="form-group">
        <label asp-for="SecurityQuestionOne"></label>
        <select asp-for="SecurityQuestionOne" class="form-control">
            <option disabled selected>Select a question.</option>
            <option>What Is your favorite book?</option>
            <option>What is the name of the road you grew up on?</option>
            <option>What is your mother’s maiden name?</option>
            <option>What was the name of your first/current/favorite pet?</option>
            <option>What was the first company that you worked for?</option>
            <!--Below options added from question two, we validate that they select different questions-->
            <option>Where did you meet your spouse?</option>
            <option>Where did you go to high school/college?</option>
            <option>What is your favorite food?</option>
            <option>What city were you born in?</option>
            <option>Where is your favorite place to vacation?</option>
        </select>
        <span asp-validation-for="SecurityQuestionOne" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecurityAnswerOne"></label>
        <input asp-for="SecurityAnswerOne" class="form-control" placeholder="Answer One">
        <span asp-validation-for="SecurityAnswerOne" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecurityQuestionTwo"></label>
        <select asp-for="SecurityQuestionTwo" class="form-control">
            <option disabled selected>Select a question.</option>
            <option>What Is your favorite book?</option>
            <option>What is the name of the road you grew up on?</option>
            <option>What is your mother’s maiden name?</option>
            <option>What was the name of your first/current/favorite pet?</option>
            <option>What was the first company that you worked for?</option>
            <!--Above options added from question one, we validate that they select different questions-->
            <option>Where did you meet your spouse?</option>
            <option>Where did you go to high school/college?</option>
            <option>What is your favorite food?</option>
            <option>What city were you born in?</option>
            <option>Where is your favorite place to vacation?</option>
        </select>
        <span asp-validation-for="SecurityQuestionTwo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecurityAnswerTwo"></label>
        <input asp-for="SecurityAnswerTwo" class="form-control" placeholder="Answer Two">
        <span asp-validation-for="SecurityAnswerTwo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>
