<h1>Welcome to your dashboard</h1>
<!-- replace with better information later-->
<p>
    Hello @(ViewData["UserName"]), welcome to our voting web application.
    The dashboard will show you important information in the future.
</p>
<a asp-area="" asp-controller="Voter" asp-action="Registration" class="nav-link">Register to Vote</a>

<a asp-area="" asp-controller="Admin" asp-action="Dashboard" class="nav-link">Admin Dashboard</a>

<a asp-area="" asp-controller="VoterRegistration" asp-action="Index" class="nav-link">Register to Vote</a>
