@model LoginViewModel
@{
    // move this code into the C# class so it is easier to edit
    ViewData["Purpose"] = "User Login";
    ViewData["Submit"] = "Login";
}

<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <h2 class="form-signin-heading">@ViewData["Purpose"]</h2>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" placeholder="Enter Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@ViewData["Submit"]</button>
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
</form>
<a asp-area="" asp-controller="User" asp-action="Registration" class="nav-link">New User?</a>
<a asp-area="" asp-controller="User" asp-action="ForgotPassword" class="nav-link">Forgot Password?</a>
