@using VotingApplication.Controllers

<h1>Reset Password Confirmed</h1>
<p>
    Now that your password is reset, you can login.
</p>

<a asp-area="" asp-action="@nameof(AuthenticationController.Login)" >Login</a><br />
