@model ResetPasswordViewModel

<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

<form asp-action="ResetPasswordAsync" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">
    <h2 class="form-signin-heading">Reset Password</h2>
    <input asp-for="Token" type="hidden" />
    <input asp-for="Email" type="hidden" />
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Enter New Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
</form>

