@model ResetPasswordEmailViewModel
<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

<form asp-action="SendResetPasswordEmailAsync" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>
