@using VotingApplication.Controllers
@model EmailViewModel

<h2>Reset Password Email - Sent</h2>
<p>
    Check your email for a confirmation letter, it will contain a link to reset your password.

</p>
<br />
<a asp-area="" asp-action="@nameof(AuthenticationController.RequestResetPasswordEmail)"  onclick="$('#sameEmailRequest').submit(); return false;">Email missing or lost? Resquest a new link.</a>

<form id="sameEmailRequest" asp-action="@nameof(AuthenticationController.RequestResetPasswordEmail)" method="post">
    <input asp-for="Email" type="hidden" />
</form>