@model ConfirmResetPasswordViewModel
<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

@{ 
    //should use partial views to reduce code duplication
    // instead of conditional statements, it's easier to 
    // understand in the server code.
}
@if (Model.State == ConfirmResetPasswordViewModel.Status.Sent)
{
    <h2>Reset Password Email - Sent</h2>
    <p>
        Check your email for a confirmation letter, it will contain a link to reset your password.
        @{ 
            // the link below requests a page with the email already entered.
        }
        <a asp-area="" asp-controller="Authentication" asp-action="RequestResetPasswordConfirmation" class="nav-link" onclick="$('#sameEmailRequest').submit(); return false;">Email missing or lost? Resquest a new link.</a>
    </p>
    <form id="sameEmailRequest" asp-action="RequestResetPasswordConfirmation" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <input asp-for="State" type="hidden" />
        <input asp-for="Email" type="hidden" />
    </form>
}
else
{
    if (Model.State == ConfirmResetPasswordViewModel.Status.Error)
    {
    <h2>Reset Password - Error</h2>
    <p>
        Unable to allow you to reset your password, try resending the confirmation email.
    </p>
    }
    else if (Model.State == ConfirmResetPasswordViewModel.Status.Request)
    {
    <h2>Reset Password - Request</h2>
    <p>
        If you have not received an reset password confirmation link or lost it, request one below.
    </p>
    }
    <form asp-action="ResetPasswordConfirmationAsync" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <input asp-for="State" type="hidden" />
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
}