@model ResetPasswordEmailViewModel

<h2>Reset Password Email - Sent</h2>
<p>
    Check your email for a confirmation letter, it will contain a link to reset your password.
    @{ 
        // the link below requests a page with the email already entered.
    }
    <a asp-area="" asp-controller="Authentication" asp-action="RequestResetPasswordEmail" class="nav-link" onclick="$('#sameEmailRequest').submit(); return false;">Email missing or lost? Resquest a new link.</a>
</p>
<form id="sameEmailRequest" asp-action="RequestResetPasswordEmail" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <input asp-for="Email" type="hidden" />
</form>