@model ConfirmEmailViewModel
<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

@if (Model.State == ConfirmEmailViewModel.Status.Sent)
{
    <h1>Email Confirmation Sent</h1>
    <p>
        Check your email for a confirmation letter, once your email is confirmed you will be able to login.
    </p>
}
else if (Model.State == ConfirmEmailViewModel.Status.Error)
{
    <h1>Email Confirmation Error</h1>
    <p>
        Unable to confirm your email, try resending the confirmation email.
    </p>
}
else if (Model.State == ConfirmEmailViewModel.Status.Request)
{
    <h1>Email Confirmation Request</h1>
    <p>
        If you have not received an email confirmation link or lost it, request one below.
    </p>
}
<form asp-action="EmailConfirmationSentAsync" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">
    <h4 class="form-signin-heading">Resend Email Confirmation.</h4>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Resend Confirmation Email</button>
</form>