<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>

<body>
    <h1>Welcome to your dashboard</h1>
    <a href="http://localhost:5000/voterregistration">Register to Vote</a> <!-- replace with different later-->
</body>
</html>