@using VotingApplication.Controllers

<h1>Email Confirmed</h1>
<p>
    Now that your email is confirmed, you can login.
</p>
<a asp-controller="@nameof(AuthenticationController).RemoveController()" asp-action="@nameof(AuthenticationController.Login)" class="nav-link">Login</a>