<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<form method="post" clas s="form-signin" action="SendResetEmail" data-toggle="validator" role="form">
    <h2 class="form-signin-heading">Forgot Password</h2>
    <div class="form-group">
        <label for="usernameInput" class="control-label">User Name</label>
        <input type="text" id="usernameInput" class="form-control" placeholder="Username" name="username" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="emailInput" class="control-label">Email</label>
        <input type="email" id="emailInput" class="form-control" placeholder="Email" name="email" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group" id="reset">
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
</form>
