@using VotingApplication.Controllers
@model VoterDemographicsViewModel
@{
    // move this code into the C# class so it is easier to edit
    ViewData["Purpose"] = "Additional Voter Information";
    ViewData["Submit"] = "Submit";
}

<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

<form asp-action="@nameof(VoterRegistrationController.DemographicsAsync)" method="post">
    <h2 class="form-signin-heading">@ViewData["Purpose"]</h2>
    <div class="form-group">
        <label asp-for="Party"></label>
        <select asp-for="Party" class="form-control">
            <option disabled selected>Select a party</option>
            <option>Democrat</option>
            <option>Republican</option>
            <option>Independent</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Party" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ethnicity"></label>
        <select asp-for="Ethnicity" class="form-control">
            <option disabled selected>Select an ethnicity</option>
            <option>White</option>
            <option>Hispanic, Latino, or Spanish</option>
            <option>Black or African American</option>
            <option>Asian</option>
            <option>Middle Eastern or North African</option>
            <option>Native Hawaiian or other Pacific Islander</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Ethnicity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sex"></label>
        <select asp-for="Sex" class="form-control">
            <option disabled selected>Select a sex</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <span asp-validation-for="Sex" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IncomeRange"></label>
        <select asp-for="IncomeRange" class="form-control">
            <option disabled selected>Select an income range</option>
            <option>Less than $25,000 a year</option>
            <option>$25,000 to $49,999 a year</option>
            <option>$50,000 to $74,999 a year</option>
            <option>$75,000 to $99,999 a year</option>
            <option>$100,000 to $125,000 a year</option>
            <option>Above $125,000 a year</option>
        </select>
        <span asp-validation-for="IncomeRange" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VoterReadiness"></label>
        <select asp-for="VoterReadiness" class="form-control">
            <option disabled selected>Select a readiness level</option>
            <option>Not at all prepared</option>
            <option>Started doing research</option>
            <option>I have researched most of the canidates</option>
            <option>I have researched every canidate</option>
            <option>My friends consider me an expert</option>
        </select>
        <span asp-validation-for="VoterReadiness" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@ViewData["Submit"]</button>
</form>