<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Voter Registration</h2>
        <div class="form-group">
            <label for="inputFirstname" class="sr-only">First Name</label>
            <input id="inputFirstname" class="form-control" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="inputLastname" class="sr-only">Last Name</label>
            <input id="inputLastname" class="form-control" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputID" class="sr-only">ID</label>
            <input id="inputID" class="form-control" placeholder="ID" required>
        </div>
        <div class="form-group">
            <label for="inputSS#" class="sr-only">SS#</label>
            <input type="password"  maxlength="10" id="inputSS#" class="form-control" placeholder="SS#" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
</div>
