@using VotingApplication.Controllers
@model VoterRegistrationViewModel
@{
    // move this code into the C# class so it is easier to edit
    ViewData["Purpose"] = "Voter Registration";
    ViewData["Submit"] = "Submit";
}

<form asp-action="@nameof(VoterRegistrationController.RegisterAsync)" method="post">
    <h2 class="form-signin-heading">@ViewData["Purpose"]</h2>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DOB"></label>
        <input asp-for="DOB" class="form-control" placeholder="Date of Birth" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Identification"></label>
        <input asp-for="Identification" class="form-control" placeholder="Identification" />
        <span asp-validation-for="Identification" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SSNumber"></label>
        <input asp-for="SSNumber" class="form-control" placeholder="Social Security Number" />
        <span asp-validation-for="SSNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@ViewData["Submit"]</button>
</form>