<h1>Home Page</h1>
<p>
    Welcome to our voting website.
    Register an account to get started or login with your exsiting account.
</p>
<p>
    Your dashboard will show your voter registration progress.
    Any ballots you are able to vote on.
    Any past ballots that are now finalized.
</p>

