@model ChangePasswordViewModel

<script>
    $.validator.setDefaults({
        onkeyup: false
    })
</script>

<form asp-action="ChangePasswordAsync" method="post" autocomplete="off">
    <h2 class="form-signin-heading">Change Password</h2>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Current Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <div class="form-horizontal row">
            <div class="form-group col-sm-6">
                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm New" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
</form>

