<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<form class="form-signin" action="/user/submitNewPasswordAsync" data-toggle="validator" role="form">
    <h2 class="form-signin-heading">Change Password</h2>
    <div class="form-group">
        <label for="oldPassword" class="control-label">Old Password</label>
        <input type="password" id="oldPassword" class="form-control" placeholder="oldPassword" name="oldPassword" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="control-label">New Password</label>
        <div class="form-horizontal row">
            <div class="form-group col-sm-6">
                <input type="password" data-minlength="5" class="form-control" id="inputPassword" placeholder="New Password" name="newPassword" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-6">
                <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="The passwords must match" placeholder="Confirm New Password" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
</form>

