<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<form class="form-signin" action="TODO: change me" data-toggle="validator" role="form">
    <!-- Quesions From: http://stumbleforward.com/2012/08/20/the-10-most-common-password-security-questions/ -->

    <h2 class="form-signin-heading">Add Security Questions</h2>
    <div class="form-group">
        <label for="sel1">Security Question One (select one):</label>
        <select class="form-control" style=" height:40px;" id="q1">
            <option>What Is your favorite book?</option>
            <option>What is the name of the road you grew up on?</option>
            <option>What is your mother’s maiden name?</option>
            <option>What was the name of your first/current/favorite pet?</option>
            <option>What was the first company that you worked for?</option>
        </select>
    </div>
    <div class="form-group">
        <label for="questionOneAnswer" class="control-label">Question One Answer</label>
        <input type="text" class="form-control" id="questionOneAnswer" placeholder="Answer" name="AnswerOne" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <label for="sel1">Security Question Two (select one):</label>
        <select class="form-control" style=" height:40px;" id="q2">
            <option>Where did you meet your spouse?</option>
            <option>Where did you go to high school/college?</option>
            <option>What is your favorite food?</option>
            <option>What city were you born in?</option>
            <option>Where is your favorite place to vacation?</option>
        </select>
    </div>
    <div class="form-group">
        <label for="questionTwoAnswer" class="control-label">Question Two Answer</label>
        <input type="text" class="form-control" id="questionTwoAnswer" placeholder="Answer " name="AnswerTwo" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</form>

